<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-Form</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/OFL.txt">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/js/bootstrap.bundle.min.js">
</head>

<body>


    <!-- ------------------------------ Nav Bar Start ----------------------------------- -->

    <nav class="navbar navbar-expand-lg nav_design">
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="#"><img class="image-fluid" width="200px"
                    src="../assets/images/pictures/logo_blue.png" alt="brand-logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fw-bold me-3 nav-text-design" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold me-3 nav-text-design" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold me-3 nav-text-design" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold me-3 nav-text-design" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ------------------------------ Nav Bar End ----------------------------------- -->


    <!-- ------------------------------ Form start ----------------------------------- -->

    <section class="d-flex justify-content-center form-design container-fluid">
        <form class="container">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label fw-bold">Your Name:</label>
                <input type="password" class="form-control border-black" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label fw-bold">Email address:</label>
                <input type="email" class="form-control border-black" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label fw-bold ">Password:</label>
                <input type="password" class="form-control border-black" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </section>

    <!-- ------------------------------ Form End ----------------------------------- -->
</body>

</html>