.nav_design{
    background-color: #bd8400f0;
}
.submit_btn{
    background-color: #bd8500;
    color: white;
    font-weight: 700;
    padding: 10px 28px;
}
.submit_btn:hover{
    border: 1px solid #bd8500;
    color: #bd8500;
}
.form_design_main{
    margin-top: 150px;
}
body{
    background-color: #f7ad017d;
}
