.nav_design{
    background-color: #E7F1FA;
    border-bottom: 3px solid #0D6EFD;
}
.submit_btn{
    background-color: #0D6EFD;
    color: white;
    font-weight: 700;
    padding: 12px 28px;
    font-size: 20px;
}
.submit_btn:hover{
    border: 1px solid #0D6EFD;
    color: #0D6EFD;
}
.form_design_main{
    margin-top: 150px;
}
body{
    background-color: #E7F1FA;
}

.form-main{
    margin-top: 120px;
}
.form-input{
    max-width: 450px;
}
.home-btn{
    background-color: #0D6EFD;
    color: white;
    border-radius: 12px;
    padding-left: 12px;
}
.form-input::placeholder{
    color: grey;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}
.signup{
    font-size: 15px;
    font-weight: 400;
}
.about-head{
    color: #F19959;
    font-size: 32px;
}
.about-paragraph{
    font-size: 15px;
}
.about-main{
    color: #F29890;
}